body {background-color: 00CED1;
      font-family: Georgia;}


#tt {margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid purple 2px;
    border-radius: 75%;
    position: absolute;
    top: 150px;
    left: 560px;}

#t {margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid purple 2px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: relative;
    top: -30;
    left: -50;}

#ttt {
    position: relative;
    top: 0px;
    left: 185px;
}

#tarjeta { 
    width: 504px;
    background-color: rgb(253, 253, 253);
    padding: 30px;
    margin: 400px;
    margin-top: 0%;
    border-radius: 25px;

 }

h1 {text-align: center;}
h3 {text-align: center;
    color:rgb(247, 198, 107) ;}

tr, th, td {width: 168px;
    text-align: center;
    border-left: 1px solid rgb(87, 87, 87);
    height: 10px;
}
.po, .poo {
    border-color:rgb(255, 248, 248) ;
}